Repository marko-js/urql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint -f codeframe --fix, prettier --write -u --with-node-modules

.lintstagedrc.json:

{
  "*.ts": [
    "eslint -f codeframe --fix",
    "prettier --write -u --with-node-modules"
  ],
  "*{.js,.json,.md,.yml,rc}": ["prettier --write -u --with-node-modules"]
}

feat: move nested browser remaps to internal node_modules
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  .mocharc.json
  .prettierignore
  package-lock.json
  package.json
  src/__tests__/alias-virtual-modules.ts
  src/__tests__/build/index.ts
  src/__tests__/build/instrument.ts
  src/__tests__/build/marko-plugin.ts
  src/__tests__/fixture.ts
  src/__tests__/start.ts
  src/client/lookup.ts
  src/client/node.ts
  src/client/package.json
  src/components/gql-client/index.marko
  src/components/gql-mutation/__tests__/server.test.ts
  src/components/gql-mutation/index.marko
  src/components/gql-query/__tests__/server.test.ts
  src/components/gql-query/impl/package.json
  src/components/gql-query/index.marko
  src/components/gql-query/ready-lookup.ts
  src/node_modules/@internal/client/browser.ts
  src/node_modules/@internal/client/node.ts
  src/node_modules/@internal/client/package.json
  src/node_modules/@internal/gql-query/browser.marko
  src/node_modules/@internal/gql-query/components/component-def/marko-tag.json
  src/node_modules/@internal/gql-query/components/component-def/translate.js
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
  src/node_modules/@internal/gql-query/node.marko
  src/node_modules/@internal/gql-query/package.json
  src/types.d.ts
  tsconfig.json
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

feat: move nested browser remaps to internal node_modules (#18)
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  .mocharc.json
  .prettierignore
  package-lock.json
  package.json
  src/__tests__/alias-virtual-modules.ts
  src/__tests__/build/index.ts
  src/__tests__/build/instrument.ts
  src/__tests__/build/marko-plugin.ts
  src/__tests__/fixture.ts
  src/__tests__/start.ts
  src/client/lookup.ts
  src/client/node.ts
  src/client/package.json
  src/components/gql-client/index.marko
  src/components/gql-mutation/__tests__/server.test.ts
  src/components/gql-mutation/index.marko
  src/components/gql-query/__tests__/server.test.ts
  src/components/gql-query/impl/package.json
  src/components/gql-query/index.marko
  src/components/gql-query/ready-lookup.ts
  src/node_modules/@internal/client/browser.ts
  src/node_modules/@internal/client/node.ts
  src/node_modules/@internal/client/package.json
  src/node_modules/@internal/gql-query/browser.marko
  src/node_modules/@internal/gql-query/components/component-def/marko-tag.json
  src/node_modules/@internal/gql-query/components/component-def/translate.js
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
  src/node_modules/@internal/gql-query/node.marko
  src/node_modules/@internal/gql-query/package.json
  src/types.d.ts
  tsconfig.json
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  49c17b2bed54263e28e48f5335d1463d81dee0ab
Due: none

fix: avoid require for devtools
  src/__tests__/alias-virtual-modules.ts
  src/__tests__/build/index.ts
  src/node_modules/@internal/client/browser.ts
  src/node_modules/@internal/client/devtools-prod.ts
  src/node_modules/@internal/client/devtools.ts
  src/node_modules/@internal/client/node.ts
  src/node_modules/@internal/client/package.json
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

chore: add git attributes
  .gitattributes
Due: none

Notes added by 'git notes add'
  06e59bac4315b77486fa21791e9606905e47f56b
Due: none

fix: avoid adding empty devtools exchange
  src/node_modules/@internal/client/browser.ts
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  95dccc0b4c91e0a71489817f2169ece089df2643
Due: none

feat: add fetch imp as third param in custom fetch
  README.md
  src/components/gql-query/__tests__/__snapshots__/isomorphic-fetch-imp/renders.expected/loading.0.html
  src/components/gql-query/__tests__/__snapshots__/isomorphic-fetch-imp/renders.expected/loading.1.html
  src/components/gql-query/__tests__/__snapshots__/isomorphic-fetch-imp/renders.expected/loading.2.html
  src/components/gql-query/__tests__/fixtures/isomorphic-fetch-imp/components/app.marko
  src/components/gql-query/__tests__/fixtures/isomorphic-fetch-imp/index.marko
  src/components/gql-query/__tests__/server.test.ts
  src/node_modules/@internal/client/browser.ts
  src/node_modules/@internal/client/node.ts
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  003c76941bab3e4e2b0448310bb6c8e6a3277824
Due: none

docs: update readme
  README.md
Due: prettier --write -u --with-node-modules

refactor: address review comments
  src/components/gql-client/index.marko
  src/node_modules/@internal/client/browser.ts
  src/node_modules/@internal/client/node.ts
  src/node_modules/@internal/shared.ts
  src/types.d.ts
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  0035cdc1f54e6743cd983336e0dc40666f31cf73
Due: none

fix: only skip all initial render when network-only
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
  src/node_modules/@internal/gql-query/node.marko
Due: none

fix: same fix for network-only
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
  src/node_modules/@internal/gql-query/node.marko
Due: none

feat: allow use graphcache
  README.md
  package-lock.json
  package.json
  src/__tests__/start.ts
  src/components/gql-client/marko-tag.json
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/loading.0.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/loading.1.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/loading.2.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/loading.3.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/step-0.0.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/step-0.1.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/step-1.0.html
  src/components/gql-query/__tests__/__snapshots__/use-graphcache-exchange/renders.expected/step-2.0.html
  src/components/gql-query/__tests__/fixtures/use-graphcache-exchange/components/app.marko
  src/components/gql-query/__tests__/fixtures/use-graphcache-exchange/index.marko
  src/components/gql-query/__tests__/server.test.ts
  src/node_modules/@internal/client/browser.ts
  src/node_modules/@internal/client/node.ts
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

fix: only skip all initial render when network-only and add missing stale flag in subscription (#23)
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: none

Notes added by 'git notes add'
  8b2b9b535da0649cf6e6f21ee9338bc2a392af4d
Due: none

fix: check input before doing query
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: none

fix: use deep equal for gql variables
  package-lock.json
  package.json
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: prettier --write -u --with-node-modules

fix: check input before doing query
  package-lock.json
  package.json
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: prettier --write -u --with-node-modules

fix: npm registry
  package-lock.json
Due: prettier --write -u --with-node-modules

fix: check input before doing query (#25)
  package-lock.json
  package.json
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: prettier --write -u --with-node-modules

Notes added by 'git notes add'
  853d5c603c0e7d6815acc0fce4b1657ce91e9fff
Due: none

fix: hydrating nested queries, avoid double query
  package-lock.json
  package.json
  src/__tests__/fixture.ts
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
  src/node_modules/@internal/gql-query/node.marko
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

fix: hydrating nested queries, avoid double query (#26)
  package-lock.json
  package.json
  src/__tests__/fixture.ts
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
  src/node_modules/@internal/gql-query/node.marko
Due: eslint -f codeframe --fix, prettier --write -u --with-node-modules

Notes added by 'git notes add'
  03554f9132c659d4ba703e9d42552a6f2ffb912a
Due: none

fix: issue with sync hydrate from parent
  src/node_modules/@internal/gql-query/browser.marko
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: none

fix: issue with sync hydrate from parent (#27)
  src/node_modules/@internal/gql-query/browser.marko
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: none

Notes added by 'git notes add'
  12cb169ab3f41a0d2eac017480d327e4eb6a7d48
Due: none

fix: micro-task before child component ready
  package-lock.json
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: prettier --write -u --with-node-modules

fix: micro-task before child component ready (#28)
  package-lock.json
  src/node_modules/@internal/gql-query/components/gql-query-client/index.marko
Due: prettier --write -u --with-node-modules

Notes added by 'git notes add'
  5ffc730c3bfaee8b3d4216d43099a34fe11b0d22
Due: none
